layout {
    pane borderless=false {
        plugin location="file:/home/crombo/zellij-sheets/target/wasm32-wasip1/release/zellij_sheets.wasm" {
            input "/home/crombo/Documents/JobmaterialsTESTDATA.csv"
        }
    }
}
